@media screen and (max-width: 419px){

    * {
        margin: 0;
        box-sizing: border-box;
    }

    #lezioni{
        background-color: #F2F2CD;
        min-width: 419px;
        padding-bottom: 3px;
    }

    .row{
        width: 419px;
        margin: 0;
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .row img{
        align-items: center;
        justify-content: center;
    }
    
    .container.grey{
        width: 419px;
    }

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
    }

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right {
        width: 100%;
        margin-bottom: 20px;
    }

    #why{
        background-color: #F2F2CD;
        width: 419px;
        padding-bottom: 3px;
    }

    hr{
        background-color: #000;
    }

}